<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @member.username %>
</p>

<p>
  <strong>Age:</strong>
  <%= @member.age %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
